# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C/C++ extensions
*.so

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
*.env
*.pem
*.key

# Virtual Environments
venv/
ENV/
env/
.env
.venv
bin/
lib/
include/
/local

# Node dependency files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vite build/dist directories
dist/
dist-ssr/
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
